In [17]:
from pandas import read_csv
import numpy as np

In [5]:
df = read_csv('airline-data.csv',usecols=[1])

In [6]:
df.describe()

       International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60
count                                         144.000000
mean                                          280.298611
std                                           119.966317
min                                           104.000000
25%                                           180.000000
50%                                           265.500000
75%                                           360.500000
max                                           622.000000

In [7]:
values = df.values.astype('float32')
values

array([[112.],
       [118.],
       [132.],
       [129.],
       [121.],
       [135.],
       [148.],
       [148.],
       [136.],
       [119.],
       [104.],
       [118.],
       [115.],
       [126.],
       [141.],
       [135.],
       [125.],
       [149.],
       [170.],
       [170.],
       [158.],
       [133.],
       [114.],
       [140.],
       [145.],
       [150.],
       [178.],
       [163.],
       [172.],
       [178.],
       [199.],
       [199.],
       [184.],
       [162.],
       [146.],
       [166.],
       [171.],
       [180.],
       [193.],
       [181.],
       [183.],
       [218.],
       [230.],
       [242.],
       [209.],
       [191.],
       [172.],
       [194.],
       [196.],
       [196.],
       [236.],
       [235.],
       [229.],
       [243.],
       [264.],
       [272.],
       [237.],
       [211.],
       [180.],
       [201.],
       [204.],
       [188.],
       [235.],
       [227.],
       [234.],
       [264.],
       [302.],
       [293.],
       [259.],
       [229.],
       [203.],
       [229.],
       [242.],
       [233.],
       [267.],
       [269.],
       [270.],
       [315.],
       [364.],
       [347.],
       [312.],
       [274.],
       [237.],
       [278.],
       [284.],
       [277.],
       [317.],
       [313.],
       [318.],
       [374.],
       [413.],
       [405.],
       [355.],
       [306.],
       [271.],
       [306.],
       [315.],
       [301.],
       [356.],
       [348.],
       [355.],
       [422.],
       [465.],
       [467.],
       [404.],
       [347.],
       [305.],
       [336.],
       [340.],
       [318.],
       [362.],
       [348.],
       [363.],
       [435.],
       [491.],
       [505.],
       [404.],
       [359.],
       [310.],
       [337.],
       [360.],
       [342.],
       [406.],
       [396.],
       [420.],
       [472.],
       [548.],
       [559.],
       [463.],
       [407.],
       [362.],
       [405.],
       [417.],
       [391.],
       [419.],
       [461.],
       [472.],
       [535.],
       [622.],
       [606.],
       [508.],
       [461.],
       [390.],
       [432.]], dtype=float32)

In [9]:
values.shape

(144, 1)

In [11]:
train_size = int(values.shape[0]*0.67)
train_size

96

In [15]:
test_size = values.shape[0]-train_size
train = values[0:train_size]
test = values[train_size:]

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
train  = scaler.fit_transform(train)
test = scaler.transform(test)

In [23]:
def create_dataset(data,k):
    dataX , dataY = [],[]
    
    for i in range(data.shape[0]-k):
        x = data[i:i+k,0]
        y = data[i+k,0]
        dataX.append(x)
        dataY.append(y)
    
    return np.array(dataX),np.array(dataY)

In [27]:
look_back = 12
train_data = create_dataset(train,look_back)
test_data = create_dataset(test,look_back)